 <%- include ('navbar.ejs') %>
    <main>
        <div class="flexbox">
            <article>
                Flexbox test 1
            </article>
            <article>
                Flexbox test 2
            </article>
        </div>
    </main>
</body>
</html>